<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Birder</title>
        <link rel="stylesheet" href="styles.css">
        <script src="scripts.js"></script>
    </head>
    <body>
        <header>
            <h1>twister</h1>
        </header>
        <form action="/login" method="POST">
            <label>
                <input type="text" name="login" required>
            </label></br>
            <label>    
                <input type="password" name="password" required></br>
            </label></br>
            <input type="submit" value="Sign In" required></br>
        </form>
        <footer>
            <p>&copy; 2019</p>
        </footer>
    </body>
</html>