<%- include('header'); -%>
    <header>
        <h1>twister</h1>
    </header>
        <% if (session.error) { %>
            <p><%= session.error %></p> <!--Обработка ошибок, пароли не совпадают-->
               <% session.error = undefined; %>
        <% } %>
        <form action="/register" method="POST">
            <label>
                New Login</br>       
                <input type="text" name="login" required>
            </label></br>
            <label>
                New Passowrd</br>      
                <input type="password" name="password" required></br>
            </label></br>
            <label>
                Repeat the Password</br>
                <input type="password" name="password-repeat" required></br>
            </label></br>
            <input type="submit" value="Sign Up"></br>
        </form>
<%- include('footer'); -%>